.liproductItem {
  max-width: 24%;
  min-width: 24%;
  border: 1px solid rgb(136, 136, 136);
  text-align: center;
  flex-wrap: wrap;
  list-style: none;
  max-height: 370px;
  animation: slide-down 600ms ease-out forwards;
  margin: 0;
}
.arounditem{
margin-bottom: 4%;
}
.img{
min-width: 60%;
max-width: 90%;
height: 40%;
margin: 5%;
}
.name{
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 24px;
}
.description{
  font-size: 16px;
  font-family: sans-serif;
  color: black;
}
.price {
  font-weight: bold;
  color: #000000;
  font-size: 22px;
}
.detailButton{
	background:linear-gradient(to bottom, #cacaca 5%, #b6b6b5 100%);
	border-radius:4px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
  margin: 10px;
}
.detailButton:hover {
	background:linear-gradient(to bottom, #d2d2d1 5%, #929291 100%);
	background-color:#77a809;
}
@media screen and (min-width: 280px) and (max-width: 600px){
  .liproductItem{min-width: 90%;
    min-height: 400px;
    max-height: 400px;
  }
  .img{
    min-width: 44%;
    max-width: 44%;
    }
  .arounditem{
    margin-bottom: 2%;
    }
  }

    @media only screen and (min-width: 280px) and (max-width: 920px) { 
      .liproductItem{max-width: 45%;
        min-height: 400px;
        max-height: 400px;
      }
      .img{
        min-width: 56%;
        max-width: 80%;
        }
      .arounditem{
        margin-bottom: 4%;
        }}


      
    @keyframes slide-down {
      from {
        opacity: 0;
        transform: translateY(-8rem);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }