.input {
  display: flex;
  align-items: center;
}

.input label {
  font-weight: bold;
  font-size: 18px;
  padding: 6px;
}

.input input {
  width: 2rem;
  height: 27px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
}